.button {
  display: inline-block;
  background-color: inherit;
  font-size: 1rem;
  color: var(--cl-white);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: BrandonText, sans-serif;
  transition: all 0.2s linear;
}

.buttonWithIcon {
  display: flex;
  align-items: center;
  justify-content: center;

}

.buttonWithIcon > svg {
  margin-right: 5px;
}

.button:hover {
  background: var(--cl-gray-light);
  color: black;
  opacity: 50%;

}

.button:disabled {
  cursor: not-allowed;
  background: var(--cl-white-gray);
  opacity: 0.6;
}

.secondary {
  background: var(--cl-gray-light);
  color: var(--cl-black) 000;
}

.secondary:hover {
  background: var(--cl-gray-middle);
}
