.container {
  width: 100%;
  position: fixed;
  top:5%;
  z-index: 10;
  color: var(--cl-black);
  float: right;
}

.error {
  background: var(--cl-red);
}

.warning {
  background: var(--cl-yellow);
}

.success {
  background: var(--cl-green);
}

.info {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-weight: 800;
  color: var(--cl-white);
  line-height: 1.1;
}
