.input {
    border: none;
    color: var(--cl-black);
    border-radius: 24px;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 80%;

}

.error {
    border-color: var(--cl-red) !important;
}
