.comment {
    border: 1px solid var(--cl-gray);
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
}

.user {
    display: flex;
    justify-content: space-between;
}

.changeButton {
    float: right;
    margin: 5px;

}

.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
}

.author:hover {
    opacity: 30%;
    cursor: pointer;
}

.author img {
    border-radius: 50%;
    height: inherit;
    margin: 10px 5px 5px;
}

.author span {
    font-size: 28px;
    margin: 0;
}

.commentContent {
    margin: 5px;
    font-size: 18px;
}

.date {
    color: #66992a;
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 5px;
    font-size: 14px;
}

.collapsed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.collapsed:hover {
    opacity: 30%;
}

.collapsed svg {
    /*width: 16px;*/
    margin: 0;
}