.profileInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.userInfo {
    padding: 2vw;
}

.likedPostsButton{
    float: right;
    margin: 10px;
    background-color: var(--cl-orange);
    border-radius: 34px;
}
