.nav {
    padding-left: 20vw;
    padding-right: 20vw;
    overflow: hidden;
    background-color: #ff9400;
    height: 50px;
}

.navButton {
    float: right;
    text-align: center;
    /*padding: 1em 1.5em;*/
    margin-right: 1vw;
    margin-top: 8px;
}

.logoButton {
    float: left;
    padding: 0;
    margin: 0;

}
