.userInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 34px;
    padding: 1rem;
    margin: 1rem;
}
.userInfo:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.userIcon img{
    height: 60px;
    border-radius: 50%;
}

.username{
    font-size: 48px;
    padding-left: 2rem;
}
